<h1><%= @user.name %>さんのプロフィール</h1>
<p>メールアドレス: <%= @user.email %></p>
<%= image_tag(@user.profile_image.url) %>
<br>
  <td><%= link_to 'プロフィールを編集する', edit_user_path(@user) %></td>
<br>
<%= link_to "画像を投稿する" ,new_picture_path %>
